
@{
    ViewData["Title"] = "Foto";
}

<h1>Foto</h1>
<h2>Geupload door @Model.Account.Naam</h2>
<h2>Team: @Model.Team.Club, @Model.Team.Elftal</h2>
<img src="@Model.Foto.URL" alt="image_@Model.Foto.ID" height="400">
<br />
<br />
<input type="button" value="Terug" class="btn btn-primary" onclick="location.href='/Galerij'"/>
<input type="button" value="Verwijder" class="btn btn-danger" onclick="DeleteFoto(@Model.Foto.ID)">

@if (Model.Foto.Public == 0)
{
    <input type="checkbox" id="publiekCheckbox" name="publiek" class="slider" onchange="ChangePublicity(@Model.Foto.ID)">
    <label for="publiek">Publiek</label>
}

@if (Model.Foto.Public == 1)
{
    <input type="checkbox" id="publiekCheckbox" name="publiek" class="slider" onchange="ChangePublicity(@Model.Foto.ID)" checked>
    <label for="publiek">Publiek</label>
}

<script>
    const checkbox = document.getElementById("publiekCheckbox");

    function ChangePublicity(ID){
        if(checkbox.checked){
            $.ajax({
                url: '@Url.Action("UpdatePublicity", "Galerij")',
                type: 'GET',
                data: { ID: ID, publicity: "Public" },
                success: function (data) {
                    console.log(data);
                }, 
                error: function (error){
                    console.log("error");
                }
            });
        } else {
            $.ajax({
                url: '@Url.Action("UpdatePublicity", "Galerij")',
                type: 'GET',
                data: { ID: ID, publicity: "Private" },
                success: function (data) {
                    console.log(data);
                },
                error: function (error) {
                    console.log("error");
                }
            });
        }
    }

    function DeleteFoto(ID){
        $.ajax({
            url: '@Url.Action("DeleteFoto", "Galerij")',
            type: 'GET',
            data: { ID: ID},
            //success: function (data){
            //    console.log(data);
            //},
            //error: function (error){
            //    console.log("error");
            //}
        });
    }
</script>