@{
    ViewData["Title"] = "Foto";
}

<h1>Foto</h1>
<h2>Geupload door @Model.Account.Naam</h2>
<h2>Team: @Model.Team.Club, @Model.Team.Elftal</h2>
<img src="@Model.Foto.URL" alt="image_@Model.Foto.ID" height="400">
<br />
<br />
<input type="button" value="Terug" class="btn btn-primary" onclick="location.href='/Galerij'"/>
<input type="button" value="Verwijder" class="btn btn-danger" onclick="confirmDelete(@Model.Foto.ID)">

@if (Model.Foto.Public == "private")
{
    <input type="checkbox" id="publiekCheckbox" name="publiek" class="slider" onchange="confirmChangePublicity(@Model.Foto.ID)">
    <label for="publiek">Publiek</label>
}

@if (Model.Foto.Public == "public")
{
    <input type="checkbox" id="publiekCheckbox" name="publiek" class="slider" onchange="confirmChangePublicity(@Model.Foto.ID)" checked>
    <label for="publiek">Publiek</label>
}

<script>
    const checkbox = document.getElementById("publiekCheckbox");

    function confirmChangePublicity(ID) {
        if (confirm("Weet je zeker dat je de openbaarheid wil aanpassen?")) {
            changePublicity(ID);
        } else {
            checkbox.checked = !checkbox.checked;
        }
    }

    function changePublicity(ID){
        if(checkbox.checked){
            $.ajax({
                url: '@Url.Action("UpdatePublicity", "Galerij")',
                type: 'GET',
                data: { ID: ID, publicity: "Public" },
            });
        } else {
            $.ajax({
                url: '@Url.Action("UpdatePublicity", "Galerij")',
                type: 'GET',
                data: { ID: ID, publicity: "Private" },
            });
        }
    }

    function confirmDelete(ID) {
        if (confirm("Weet je zeker dat je deze foto permanent wil verwijderen?")) {
            deleteFoto(ID);
        }
    }

    function deleteFoto(ID){
        $.ajax({
            url: '@Url.Action("DeleteFoto", "Galerij")',
            type: 'GET',
            data: { ID: ID},
            success: function (data){
                console.log(data);
                location.href = "/Galerij";
            },
            error: function (error){
                console.log("error");
            }
        });
    }
</script>